* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #052445;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

a {
  color: white;
}

input {
  color: white;
}
